*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share style*/
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    height: 44px;
    width: 164px;
    text-align: center;
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
}

/* main style */
header{
    padding-top: 16px;
    background-color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .menu ul{
    display: flex;
    gap: 32px;
    list-style: none;
}