*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share style*/
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    text-align: center;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color:#469165da;
}

/* main style */
header{
    padding-top: 16px;
    background-color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .menu ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

#banar{
    border: 2px solid;
    margin: 0 auto;
    background-image: url(./assets/hero-bg.png);
}
#banar .banar-container{
    margin: 115px 120px 179px;
    width: 85%;
    max-width: 1360px;
    text-align: center;
}

#banar .banar-container .banar-top{
    margin-bottom: 20px;
}
#banar .banar-container #early-access{
    border-radius: 1000px;
    font-size: 16px;
    width: 229px;
    padding: 8px 12px;
    background-color: #FFFFFF;
    gap: 6px;
    color:#469165;
}
#banar .banar-container .title-1{
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    /* line-height: 84px; */
}
#banar .banar-container .title-2{
    font-size: 72px;
    font-weight: bold;
    color:#30B868;
    margin-bottom: 16px;
}
#banar .banar-container p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.banar-buttons #see-how{
    padding: 12px 16px;
    gap: 10px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    border: 1px solid;
    margin-left: 16px;
}